[submodule "lib/snap"]
	path = lib/snap
	url = https://github.com/snap-stanford/snap
	ignore = dirty
[submodule "lib/networkit"]
	path = lib/networkit
	url = https://github.com/kit-parco/networkit.git
